%ul.header__contents__lower__left-items.category1
  %li.header__contents__lower__left-items__categories
    = link_to '#' do
      カテゴリー
    %ul.category1
      - @parents.each do |parent|
        %li.parent__list
          = link_to parent.name
          %ul.category2
            - parent.children.each do |child|
              %li.child__list
                =link_to child.name
                %ul.category3
                  - child.children.each do |grandchild|
                    %li.grandchild__list
                      = link_to grandchild.name

-# ul.category1
-# ul.category2
-# ul.category3で「親」「子」「孫」を分けています

  %li.header__contents__lower__left-items__brands
    = link_to '#' do
      ブランド
