.second-contents
  %h2.second-contents__title
    FURIMAが選ばれる3つの理由
  %ul.second-contents__card-lists
    %li.second-contents__card-lists__card
      .second-contents__card-lists__card__image
        = image_tag('material/pict/pict-reason-01.jpg', size: '306x306')
        .second-contents__card-lists__card__image__number-square
          1
      .second-contents__card-lists__card__text
        %span
          3分
        ですぐに出品
      .second-contents__card-lists__card__caption
        スマホで入力するだけで簡単に出品で
        %br
        きる！
    %li.second-contents__card-lists__card
      .second-contents__card-lists__card__image
        = image_tag('material/pict/pict-reason-02.jpg', size: '306x306')
        .second-contents__card-lists__card__image__number-square
          2
      .second-contents__card-lists__card__text
        %span
          シンプル
        で使いやすい
      .second-contents__card-lists__card__caption
        めんどくさい入力は必要なく、検索も
        %br
        購入もスムーズ！
    %li.second-contents__card-lists__card
      .second-contents__card-lists__card__image
        = image_tag('material/pict/pict-reason-03.jpg', size: '306x306')
        .second-contents__card-lists__card__image__number-square
          3
      .second-contents__card-lists__card__text
        手数料
        %span
          業界最安
      .second-contents__card-lists__card__caption-right
        最大3%でお得に出品&購入！