.sixth-contents
  %h2.sixth-contents__title
    ピックアップブランド
  .sixth-contents__products
    .sixth-contents__products__caption
      アーカイバ
    .sixth-contents__products__lists
      .sixth-contents__products__lists__list
      .sixth-contents__products__lists__list
      .sixth-contents__products__lists__list
      .sixth-contents__products__lists__list