.feature-lower
  %h2.feature-lower__title
    FURIMAの特徴
  %ul.feature-lower__card-lists
    %li.feature-lower__card-lists__card
      .feature-lower__card-lists__card__image
        = image_tag('material/icon/icon-01.png', height: '306px')
      .feature-lower__card-lists__card__text
        簡単に売り買いできる
      .feature-lower__card-lists__card__caption
        スマホひとつで、いつでもどこでも簡
        %br
        単に出品・購入が可能！
    %li.feature-lower__card-lists__card
      .feature-lower__card-lists__card__image
        = image_tag('material/icon/icon-03.png', height: '306px')
      .feature-lower__card-lists__card__text
        売上金は即日振込みに対応
      .feature-lower__card-lists__card__caption
        午前9時までに振込を依頼いただけれ
        %br
        ば、翌日に指定の口座に入金いたしま
        %br
        す！
    %li.feature-lower__card-lists__card
      .feature-lower__card-lists__card__image
        = image_tag('material/icon/icon-04.png', height: '306px')
      .feature-lower__card-lists__card__text
        様々な支払いに対応
      .feature-lower__card-lists__card__caption
        お支払いは、クレジットカードだけで
        %br
        なく、ポイントや売上金など多彩な方
        %br
        法があります。