.feature-lower
  %h2.feature-lower__title
    FURIMAの特徴
  %ul.feature-lower__card-lists
    %li.feature-lower__card-lists__card
      #left.feature-lower__card-lists__card__image
      .feature-lower__card-lists__card__text
        簡単に売り買いできる
      .feature-lower__card-lists__card__caption
        スマホひとつで、いつでもどこでも簡単
        %br
        に出品・購入が可能！
    %li.feature-lower__card-lists__card
      #center.feature-lower__card-lists__card__image
      .feature-lower__card-lists__card__text
        売上金は即日振込みに対応
      .feature-lower__card-lists__card__caption
        午前9時までに振込を依頼いただけれ
        %br
        ば、翌日に指定の口座に入金いたします！
    %li.feature-lower__card-lists__card
      #right.feature-lower__card-lists__card__image
      .feature-lower__card-lists__card__text
        様々な支払いに対応
      .feature-lower__card-lists__card__caption
        お支払いは、クレジットカードだけでな
        %br
        く、ポイントや売上金など多彩な方法
        %br
        があります。