.content-main__comment
  = form_with local: true do |f|
    = f.text_area :comment, class: "content-main__comment__form"
    %p.content-main__comment__notice
      相手のことを考え丁寧なコメントを心がけましょう。
      %br/
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %br/
    = button_tag type: "submit", class: "content-main__comment__btn" do 
      = icon("fas", "comment")
      コメントする
