.content-main__top__product__images
  .content-main__top__product__images__image
    = link_to "#", class: "content-main__top__product__images__image-link" do
      = image_tag @product.images[0].src.url, class: "content-main__top__product__images__image-top", id: "main"
    %ul.content-main__top__product__images__image__lists
      - @product.images.each do |image|
        %li.content-main__top__product__images__image__lists__list
          = image_tag image.src.url, class: "content-main__top__product__images__image__lists__list-sub"
