.content-main__top__product__images
  %ul
    %li.content-main__top__product__images__image
      = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG', class: "content-main__top__product__images__image-top"
      %ul.content-main__top__product__images__image__lists
        - @product.images.each do |image|
          %li.content-main__top__product__images__image__lists__list
            = image_tag image.src.url, class: "content-main__top__product__images__image__lists__list-sub"
