.header {
  height: 110px;
  width: 100vw;
  color: #fff;

  &__contents {
    width: 1040px;
    margin: 0 auto;
    padding-top: 15px;

    &__upper {
      height: 50.55px;

      &__icon {
        height: 41px;
        width: 140px;
        float: left;
      }

      &__input-box {
        height: 41px;
        width: 870px;
        float: right;
        font-size: 16px;
        position: relative;
      }

      &__submit-btn {
        height: 41px;
        width: 41px;
        font-size: 20px;
        position: absolute;
        right: 200px;
        top: 15px;
        background-color: #20b2aa;
        color: #fff;
        border: none;
      }
    }

    &__lower {
      height: 32px;
      display: flex;
      justify-content: space-between;
      font-family: "YuGothic";

      &__left-items {
        width: 170px;
        list-style: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        
        li {
          font-size: 14px;
        }
      }

      &__right-items {
        width: 150px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        line-height: 32px;

        li {
          font-size: 14px;
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}