.header {
  height: 110px;
  width: 100vw;
  color: #fff;

  &__contents {
    width: 1040px;
    margin: 0 auto;
    padding-top: 15px;

    &__upper {
      height: 50.55px;

      &__icon {
        height: 41px;
        width: 140px;
        float: left;
      }

      &__input-box {
        height: 41px;
        width: 870px;
        float: right;
        font-size: 16px;
        position: relative;
      }

      &__submit-btn {
        height: 41px;
        width: 41px;
        font-size: 20px;
        position: absolute;
        right: 200px;
        top: 15px;
        background-color: #20b2aa;
        color: #fff;
        border: none;
      }
    }

    &__lower {
      height: 32px;
      display: flex;
      justify-content: space-between;
      font-family: "YuGothic";

      &__left-items {
        width: 170px;
        list-style: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        
        li {
          font-size: 14px;
        }
      }

      &__right-items {
        width: 150px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        line-height: 32px;

        li {
          font-size: 14px;
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

@import "introduction/introduction-upper";
@import "feature/feature-upper";
@import "introduction/introduction-middle";
@import "feature/feature-lower";
@import "pickup/pickup-upper";
@import "pickup/pickup-lower";
@import "introduction/introduction-lower";

.footer {
  height: 354.34px;
  width: 100vw;
  background-color: #222;
  color: #fff;
  padding-top: 70px;

  &__contents {
    height: 172px;
    list-style: none;
    display: flex;
    justify-content: center;

    &__content {
      width: 250px;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;

      &__title {
        margin-bottom: 20px;
        font-size: 16px;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      ul {
        list-style: none;
        line-height: 250%;
        font-size: 12px;
      }
    }
  }

  &__logo {
    height: 46.34px;

    a img {
      width: 160px;
      margin-left: 630px;
    }
  }

  &__copyright {
    height: 16px;
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
}