// 3枚の絵、左
#left.feature-upper__card-lists__card__image {
  @include backimg('material/pict/pict-reason-01.jpg', contain);
}

// 3枚の絵、真ん中
#center.feature-upper__card-lists__card__image {
  @include backimg('material/pict/pict-reason-02.jpg', contain);
}

// 3枚の絵、右
#right.feature-upper__card-lists__card__image {
  @include backimg('material/pict/pict-reason-03.jpg', contain);
}

.feature-upper {
  // 外枠の大きさ指定
  @include box(100vw, 658px);
  // 背景色、文字色指定
  @include colors();
  // 文字は中央揃え
  text-align: center;

  &__title {
    // 上の空間作成
    margin-top: 60px;
    // 文字サイズ指定
    font-size: 25px;
    // タイトルの下に線を入れるための設定
    position: relative;
    display: inline-block;
  }

  // タイトルの下に線を入れるための設定
  &__title::after {
    @include absolute(auto, 140px, -20px, 140px);
    content: "";
    border-bottom: 4px solid #20b2aa;
  }

  &__card-lists {
    // 外枠の大きさ指定
    @include box(1100px, 540px);
    // 横並べ
    @include between();
    // 左右中央揃え
    margin: 0 auto;
    // 点を消す
    list-style: none;

    // 3つの箱
    &__card {
      // 高さ指定
      height: 460px;
      // 上の空間作成、左右中央揃え
      margin: 50px auto;

      &__image {
        // 画像の大きさ指定
        @include box(306px, 306px);
        // 番号を配置するための設定
        position: relative;

        // 番号を配置するための設定
        &__number-square {
          // 番号の外枠大きさ指定
          @include box(56.69px, 55px);
          // 箱の背景色、文字色指定
          @include colors(#20b2aa, #fff);
          // 番号の文字サイズ指定
          font-size: 24px;
          // 番号を配置するための設定
          @include absolute(0, auto, auto, 0);
          line-height: 55px;
        }
      }

      &__text {
        // 上下左右の空間作成
        margin: 35px;
        // 文字サイズ指定
        font-size: 22px;
        // 太字
        font-weight: bold;

        // 文字の一部だけ色を変える
        span {
          color: #20b2aa;
        }
      }

      &__caption {
        // 左詰めかつ左右中央揃え
        display: inline-block;
        text-align: left;
        margin: 0 auto;
        // 文字サイズ指定
        font-size: 17px;
        // 行間作成
        line-height: 150%;
      }
    }
  }
}