.feature-upper {
  height: 658px;
  width: 100vw;
  background-color: #fff;
  color: #000;

  ul {
    list-style: none;
  }

  &__title {
    font-size: 25px;
    position: relative;
    display: inline-block;
    margin-top: 60px;
    margin-left: 535px;
  }

  &__title::after {
    content: "";
    position: absolute;
    left: 140px;
    right: 140px;
    bottom: -15px;
    border-bottom: 4px solid #20b2aa;
  }

  &__card-lists {
    height: 540px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__card {
      height: 460px;
      margin: 50px auto;

      &__image-left {
        position: relative;
        height: 306px;
        width: 306px;
        background-image: image-url('material/pict/pict-reason-01.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &__number-square {
          height: 55px;
          width: 56.69px;
          background-color: #20b2aa;
          color: #fff;
          font-size: 24px;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          line-height: 55px;
        }
      }

      &__image-center {
        position: relative;
        height: 306px;
        width: 306px;
        background-image: image-url('material/pict/pict-reason-02.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &__number-square {
          height: 55px;
          width: 56.69px;
          background-color: #20b2aa;
          color: #fff;
          font-size: 24px;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          line-height: 55px;
        }
      }

      &__image-right {
        position: relative;
        height: 306px;
        width: 306px;
        background-image: image-url('material/pict/pict-reason-03.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &__number-square {
          height: 55px;
          width: 56.69px;
          background-color: #20b2aa;
          color: #fff;
          font-size: 24px;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          line-height: 55px;
        }
      }

      &__text {
        font-size: 20px;
        text-align: center;
        margin: 35px;

        span {
          color: #20b2aa;
          font-weight: bold;
        }
      }

      &__caption {
        font-size: 16px;
        padding-left: 16px;
      }

      &__caption-right {
        font-size: 16px;
        padding-left: 40px;
      }
    }
  }
}