#left.feature-lower__card-lists__card__image {
  background-image: image-url('material/icon/icon-01.png');
}

#center.feature-lower__card-lists__card__image {
  background-image: image-url('material/icon/icon-03.png');
}

#right.feature-lower__card-lists__card__image {
  background-image: image-url('material/icon/icon-04.png');
}

.feature-lower {
  height: 711.7px;
  width: 100vw;
  background-color: #fff;
  color: #000;
  text-align: center;

  &__title {
    font-size: 25px;
    position: relative;
    display: inline-block;
    margin-top: 60px;
  }

  &__title::after {
    content: "";
    position: absolute;
    left: 56px;
    right: 56px;
    bottom: -20px;
    border-bottom: 4px solid #20b2aa;
  }

  &__card-lists {
    height: 560px;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    
    &__card {
      height: 500px;
      width: 350px;
      margin: 50px auto;

      &__image {
        height: 315.7px;
        width: 205.09px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 auto;
      }

      &__text {
        font-size: 18px;
        margin: 60px auto 15px;
        font-weight: bold;
      }

      &__caption {
        display: inline-block;
        font-size: 17px;
        margin: 0 auto;
        text-align: left;
        line-height: 150%;
      }
    }
  }
}