.exhibition-btn {
  // ボタンの外枠サイズ指定
  @include box(120px, 120px);
  // ボタンの背景色m、文字色を指定
  @include colors(#20b2aa,#fff);
  // 文字は中央揃え
  text-align: center;
  // 上の空間作成
  padding-top: 20px;
  // 常に画面の決まった位置に固定
  position: fixed;
  bottom: 30px;
  right: 30px;
  // 角を丸くする
  border-radius: 5px 5px 5px 5px;

  &__explain {
    // 文字サイズ指定
    font-size: 18px;
  }

  &__icon {
    // アイコン画像の外枠サイズ指定
    @include box(60px, 60px);
    // 外枠にアイコン画像を埋め込む
    @include backimg('material/icon/icon_camera.png', contain);
    // 上下に空間作成、左右中央揃え
    margin: 10px auto;
  }
}