.exhibition-btn {
  height: 120px;
  width: 120px;
  background-color: #20b2aa;
  color: white;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px 5px 5px 5px;

  &__explain {
    font-size: 18px;
  }

  &__icon {
    height: 60px;
    width: 60px;
    margin: 10px auto;
    background-image: image-url('material/icon/icon_camera.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}