.footer {
  // 外枠サイズ指定
  @include box($width: 100vw, $height: 354.34px);
  // 背景色、文字色指定
  @include colors(#222,#fff);
  // 上の空間作成
  padding-top: 70px;

  &__contents {
    // 横並べかつ中央寄せ
    @include centering();
    // 3つのコンテンツを囲む見えない箱の外枠の高さ指定
    height: 172px;
    // 点を消す
    list-style: none;

    &__content {
      // コンテンツの幅指定
      width: 250px;
      // 左右30pxずつ間を開ける
      margin: 0 30px;
      // 文字は中央揃え
      text-align: center;

      &__title {
        // 下の空間作成
        margin-bottom: 20px;
        // 文字サイズ指定
        font-size: 16px;
      }

      a {
        // リンクのデコレーションを無効にする
        text-decoration: none;
        color: #fff;
      }

      ul {
        // 点を消す
        list-style: none;
        // 行間指定
        line-height: 250%;
        // 文字サイズ指定
        font-size: 12px;
      }
    }
  }

  &__logo {
    // ロゴの外枠指定
    @include box($width: 160px, $height: 46.34px);
    // 外枠にロゴを埋め込む
    @include backimg('material/logo/logo-white.png', cover);
    // 画面の真ん中に配置
    margin: 0 auto;
  }

  &__copyright {
    // 文字の外枠指定
    @include box($height: 16px);
    // 文字サイズ指定
    font-size: 12px;
    // 文字は中央揃え
    text-align: center;
  }
}
