// デフォルトは非表示
.category1, .category2, .category3 {
  display: none;
}

.header__contents__lower__left-items__categories:hover {
  
  .category1 {
    display: block;

    .parent__list:hover {

      .category2 {
        display: block;

        .child__list:hover {
          
          .category3 {
            display:  block;
          }
        }
      }
    }
  }
}

.header__contents__lower__left-items__categories {
  position: relative;

  .category1 {
    position: absolute;
    top: 32px;
    padding-top: 11px;
    padding-left: 5px;
    background-color: white;
    width: 224px;
    list-style: none;
    cursor: pointer;
    line-height: 40px;
    color: #000;
    z-index: 1;

    li {
      border-bottom: 0.2px solid #eaffff;
    }
  }

  .category2 {
    position: absolute;
    top: 0px;
    left: 224px;
    padding-top: 11px;
    padding-left: 5px;
    background-color: white;
    width: 224px;
    list-style: none;
    cursor: pointer;
    line-height: 30px;
    color: #000;
    z-index: 1;
    min-height: 500px;
  }

  .category3 {
    position: absolute;
    top: 0px;
    left: 224px;
    padding-left: 5px;
    padding-top: 11px;
    background-color: white;
    width: 224px;
    list-style: none;
    cursor: pointer;
    line-height: 30px;
    color: #000;
    z-index: 1;
    min-height: 500px;
  }
}
