.header {
  height: 110px;
  width: 100vw;
  color: #fff;

  &__contents {
    width: 1040px;
    margin: 0 auto;
    padding-top: 15px;

    &__upper {
      height: 50.55px;

      &__icon {
        height: 41px;
        width: 140px;
        float: left;
        background-image: image-url('material/logo/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &__input-box {
        height: 41px;
        width: 870px;
        float: right;
        font-size: 16px;
        position: relative;
      }

      &__submit-btn {
        height: 41px;
        width: 41px;
        position: absolute;
        right: 200px;
        top: 15px;
        background-color: #20b2aa;
        border: none;

        &__icon {
          height: 20px;
          width: 20px;
          margin: 0 auto;
          background-image: image-url('material/icon/icon-search01.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    &__lower {
      height: 32px;
      display: flex;
      justify-content: space-between;
      font-family: "YuGothic";

      li {
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: #000;
      }

      &__left-items {
        width: 170px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
      }

      &__right-items {
        width: 150px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
      }
    }
  }
}