.pickup-upper
  %h2.pickup-upper__title
    ピックアップカテゴリー
  .pickup-upper__products
    .pickup-upper__products__caption
      新規投稿商品
    .pickup-upper__products__lists
      .pickup-upper__products__lists__list
      .pickup-upper__products__lists__list
      .pickup-upper__products__lists__list
      .pickup-upper__products__lists__list
  