#lower.pickup
  %h2.pickup__title
    ピックアップブランド
  .pickup__products
    .pickup__products__caption
      TOMORROWLAND
    .pickup__products__lists
      =render "top/others/items", products: @brandProducts
