.pickup-lower
  %h2.pickup-lower__title
    ピックアップブランド
  .pickup-lower__products
    .pickup-lower__products__caption
      アーカイバ
    .pickup-lower__products__lists
      .pickup-lower__products__lists__list
      .pickup-lower__products__lists__list
      .pickup-lower__products__lists__list
      .pickup-lower__products__lists__list