.product-search-result {
  display: flex;
  flex-wrap: wrap;

  &__item {
    border: solid #ccc;
    border-width: 1px;
    padding: 10px;
    overflow: hidden;
  }
}

.fuzzy-search {
  &__results {
    border: solid #ccc;
    border-width: 1px;

    .product-search-result {
      &__item {
        width: calc(100% / 8);
      }
    }
  }
}

.detailed-search {
  &__contents {
    display: flex;

    &__forms {
      width: 30%;
      border: solid #ccc;
      border-width: 1px;
    }

    &__results {
      width: 70%;
      border: solid #ccc;
      border-width: 1px;

      .product-search-result {
        &__item {
          width: calc(100% / 6);
        }
      }
    }
  }
}
