.product-search-result {
  display: flex;
  flex-wrap: wrap;

  &__item {
    border: solid #ccc;
    border-width: 1px;
    padding: 10px;
    overflow: hidden;
  }
}

.fuzzy-search {
  &__results {
    border: solid #ccc;
    border-width: 1px;
    font-size: 18px;

    .product-search-result {
      &__item {
        width: calc(100% / 8);
      }
    }
  }
}

.detailed-search {
  &__contents {
    display: flex;

    &__forms {
      width: 30%;
      border: solid #ccc;
      border-width: 1px;

      &__form {
        padding: 10px;

        &__label {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 10px;
        }

        &__field {
          input[type="search"] {
            @include box(90%, 48px, 4px);
            border: 1px solid #ccc;
            font-size: 20px;
          }

          select {
            @include box(90%, 48px, 4px);
            border: 1px solid #ccc;
            font-size: 20px;
            margin-bottom: 10px;
          }

          input[type="checkbox"] {
            display: none;
          }

          input[type="checkbox"]:checked + label {
            background-color: #20b2aa;
            color: #fff;
            border: none;
          }

          label {
            @include box(90%, 48px, 4px);
            display: block;
            text-align: center;
            line-height: 48px;
            border: 1px solid #ccc;
            cursor: pointer;
            transition: 0.5s;
            margin: 10px 0;
            overflow: hidden;
          }

          input[type="number"] {
            @include box(35%, 48px, 4px);
            border: 1px solid #ccc;
            font-size: 20px;
          }
        }
      }

      &__submit-btn {
        padding: 10px;

        input {
          @include box(200px, 48px, 4px);
          @include colors(#20b2aa, #fff);
          cursor: pointer;
          border: none;
          font-size: 14px;
          transition: 0.5s;
        }
      }
    }

    &__results {
      width: 70%;
      border: solid #ccc;
      border-width: 1px;
      font-size: 18px;

      .product-search-result {
        &__item {
          width: calc(100% / 6);
        }
      }
    }
  }
}
