- if Like.find_by(user_id: current_user.id, product_id: product.id)
  = link_to product_like_path(product_id: product.id, id: product.likes[0].id), method: :delete, remote: true do
    .like-btn__wrapper
      %i.fas.fa-star
      %p
        お気に入り
      %p
        = product.likes_count


- else
  = link_to product_likes_path(product), method: :post, remote: true do
    .like-btn__wrapper
      %i.far.fa-star
      %p
        お気に入り
      %p
        = product.likes_count
