.introduction-upper
  %h2.introduction-upper__slogan
    %br
    人生を変えるフリマアプリ
  %p.introduction-upper__explain
    FURIMAはだれでもかんたんに出品・購入できる
    %br
    フリマアプリです
  .introduction-upper__download-btns
    .introduction-upper__download-btns__apple-btn
      = image_tag('Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', height: '100%')
    .introduction-upper__download-btns__google-btn
      = image_tag('google-play-badge.png', height: '150%')