.introduction-upper
  %h2.introduction-upper__slogan
    %br
    人生を変えるフリマアプリ
  %p.introduction-upper__explain
    FURIMAはだれでもかんたんに出品・購入できる
    %br
    フリマアプリです
  .introduction-upper__download-btns
    = link_to '#' do
      .introduction-upper__download-btns__apple-btn
    = link_to '#' do
      .introduction-upper__download-btns__google-btn