.introduction-lower
  %h2.introduction-lower__slogan
    だれでもかんたん、人生を変えるフリマアプリ
  %p.introduction-lower__recomend
    今すぐ無料ダウンロード！
  .introduction-lower__download-btns
    = link_to '#' do
      .introduction-lower__download-btns__apple-btn
    = link_to '#' do
      .introduction-lower__download-btns__google-btn
