.introduction-middle
  %h2.introduction-middle__sales-point
    会員数日本一位
  %p.introduction-middle__explain
    FURIMAは、フリマアプリで最も人気。
    %br
    出品・購入回数も業界最多です！
    %br
    ほしかったあの商品に出会えるかもしれません。
  .introduction-middle__download-btns
    = link_to '#' do
      .introduction-middle__download-btns__apple-btn
    = link_to '#' do
      .introduction-middle__download-btns__google-btn
