.introduction-lower
  %h2.introduction-lower__slogan
    だれでもかんたん、人生を変えるフリマアプリ
  %p.introduction-lower__recomend
    今すぐ無料ダウンロード！
  .introduction-lower__download-btns
    .introduction-lower__download-btns__apple-btn
      = image_tag('Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', height: '100%')
    .introduction-lower__download-btns__google-btn
      = image_tag('google-play-badge.png', height: '150%')