.user_mypage{
  background-color:#f5f5f5;
  margin:auto;
  padding: 40px 0; 
  display: flex;
  justify-content: center;
  &_main{
    width: 700px;
    height: auto;
    &-icon{
      width: 700px;
      height: 200px;
      position: relative;
      &_image{
        position: absolute;
        right: 320px;
        top:50px;
        &-photo{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        }
        &-name{
          text-align: center;
        }
      }
    }
    &-buy{
      background-color: white;
      width: 700px;
      &_product{
        padding:0 16px;
        height: 72px;
        line-height: 72px;
        font-size:16px;
      }
      &_list{
        display: flex;
        &-now{
        height: 72px;
        width: 350px;
        border-top: 2px solid #20b2aa;
        background-color: #ffffff;
        line-height: 72px;
        text-align: center;

        }
        &-past{
          height: 72px;
          width: 350px;
          background-color:#f5f5f5;
          line-height: 72px;
          text-align: center;
        }
      }
      &_image{
        width: 700px;;
        height: auto;
        background-color:#ffffff;
      }
    }
  }
}
