.user__mypage__sidebar{
  width: 280px;
  margin: 0 40px 0 0;
  &__list{
    &__item{
    padding:16px;
    font-size:14px;
    display: block;
    text-decoration: none;
    min-height: 48px;
    color: black;
    background-color: #ffffff;
    list-style-type:none;
    border-bottom:1px solid #f5f5f5;
    }
    &__item-now{
      padding:16px;
      font-size:14px;
      font-weight: bold;
      display: block;
      text-decoration: none;
      min-height: 48px;
      color: black;
      background-color: #dcdcdc;
      list-style-type:none;
      border-bottom:1px solid #f5f5f5;
    }
  }
  &__config{
    margin: 40px 0 8px 0;    
    font-size: 16px;
  }
} 
