.introduction-upper {
  // 外枠の大きさ指定
  @include box(100vw, 560px);
  // 箱の背景を画像にする
  @include backimg('material/pict/bg-mainVisual-pict_pc.jpg', cover);
  // 文字色指定
  color: #fff;
  // 上の空間作成
  padding-top: 140px;

  &__slogan {
    // 文字の外枠作成
    @include box(1079px, 144px);
    // 文字をデコレーション
    @include font(56px, "YuGothic", 1.5px);
    // 左の空間作成
    margin-left: 80px;
  }

  &__explain {
    // 文字の外枠作成
    @include box(1079px, 64px);
    // 文字をデコレーション
    @include font(20px, "YuGothic", 1.5px);
    // 上と左の空間作成
    margin: 0 0 20px 80px;
    // 行間指定
    line-height: 120%;
  }

  &__download-btns {
    // 2つのボタンを囲む見えない箱の外枠サイズ指定
    @include box(370px, 53.33px);
    // ボタンを横並べ
    display: flex;
    // 左の空間作成
    margin-left: 80px;

    &__apple-btn {
      // ボタンの外枠サイズ指定
      @include box(180px, 53.33px);
      // 外枠にボタンを埋め込む
      @include backimg('Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', cover);
      // ボタンとボタンの間の空間作成
      margin-right: 10px;
    }

    &__google-btn {
      // ボタンの外枠サイズ指定
      @include box(180px, 53.33px);
      // 外枠にボタンを埋め込む
      @include backimg('google-play-badge.png', 115%);
    }
  }
}