.introduction-lower {
  height: 359.33px;
  width: 100vw;
  color: #fff;
  background-image: image-url('material/pict/bg-appBanner-pict.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 110px;

  &__slogan {
    text-align: center;
    margin-bottom: 14px;
    font-size: 24px;
    font-family: "YuGothic";
    text-shadow : 0.25px 0.25px 0.25px #000;
  }

  &__recomend {
    text-align: center;
    margin-bottom: 30px;
    font-size: 34px;
    font-family: "YuGothic";
    text-shadow : 0.25px 0.25px 0.25px #000;
    line-height: 120%;
  }

  &__download-btns {
    display: flex;
    position: relative;

    &__apple-btn {
      height: 53.33px;
      width: auto;
      margin-left: 540px;
    }

    &__google-btn {
      height: 53.33px;
      width: auto;
      position: absolute;
      top: -14px;
      left: 700px;
    }
  }
}