#error_explanation {
  background-color: pink;
  color: red;
  line-height: 1.5;
  padding: 10px;

  ul {
    padding-left: 20px;
  }
}

.notification {
  background-color: pink;
  color: red;
  line-height: 1.5;
  padding: 10px;
}
