#error_explanation {
  background-color: pink;
  color: red;
  line-height: 1.5;
  padding: 10px;

  ul {
    padding-left: 20px;
  }
}

.alert {
  background-color: pink;
  color: red;
  line-height: 1.5;
  padding: 10px;
}

.success {
  background-color: lightgreen;
  color: green;
  line-height: 1.5;
  padding: 10px;
}
