#error_explanation {
  background-color: pink;
  color: red;
  line-height: 1.5;
  padding: 10px;

  ul {
    padding-left: 20px;
  }
}

.alert {
  padding: 9px 0 15px;
  color: red;
  font-size: 13px;
}

.success {
  background-color: lightgreen;
  color: green;
  line-height: 1.5;
  padding: 10px;
}

.alert__sign-up {
  padding-top: 9px;
  color: red;
  font-size: 13px;
}

.flash-notice {
  background-color: #98fb98;
  color: #006400;
  text-align: center;
}

.flash-alert {
  background-color: #ffc0cb;
  color: #f00;
  text-align: center;
}
