// 箱を作成
@mixin box($width: auto, $height: auto, $radius: 0) {
  width: $width;
  height: $height;
  border-radius: $radius;
}

// 箱の背景を画像にする
@mixin backimg($url, $size) {
  background-image: image-url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
}

// 文字のデコレーション
@mixin font($size, $family, $shadow) {
  font-size: $size;
  font-family: $family;
  text-shadow: 0 0 $shadow #000;
}

// 文字のデコレーション
@mixin font2($weight: normal, $size: 12px, $clr: #000) {
  font-weight: $weight;
  font-size: $size;
  color: $clr;
}

// 背景画像、文字色指定
@mixin colors($bgclr: #fff, $clr: #000) {
  background-color: $bgclr;
  color: $clr;
}

// 横並べ
@mixin between() {
  display: flex;
  justify-content: space-between;
}

// 横並べかつ中央寄せ
@mixin centering() {
  display: flex;
  justify-content: center;
}

// 絶対位置指定
@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// 通常フォームテキストフィールド
@mixin input() {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

// birthフォームテキストフィールド
@mixin birth-input {
  width: 76px;
  height: 48px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  -webkit-appearance: none;
}

// icon位置調整
@mixin icon {
  position: absolute;
  top: 17px;
  color: #888888;
  pointer-events: none;
}

// フォーム submit-btn
@mixin submit-btn {
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ;
  background: #c0c0c0;
  border: 1px solid ;
  color: #fff;
}


@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }

}
