// リセットCSS呼び出し
@import "reset";

// mixin用
@import "mixin";

// トップページ用
@import "top/others/header";
@import "top/introduction/introduction-upper";
@import "top/feature/feature-upper";
@import "top/introduction/introduction-middle";
@import "top/feature/feature-lower";
@import "top/pickup";
@import "top/introduction/introduction-lower";
@import "top/others/footer";
@import "top/others/exhibition-btn";

// icon用
@import "font-awesome-sprockets";
@import "font-awesome";