.header {
  height: 100px;
  width: 100vw;
  background-color: #f00;
  color: #fff;
}

.first-contents {
  height: 560px;
  width: 100vw;
  background-color: #0f0;
  color: #fff;
}

.second-contents {
  height: 660px;
  width: 100vw;
  background-color: #00f;
  color: #fff;
}

.third-contents {
  height: 400px;
  width: 100vw;
  background-color: #a00;
  color: #fff;
}

.fourth-contents {
  height: 710px;
  width: 100vw;
  background-color: #0a0;
  color: #fff;
}

.fifth-contents {
  height: 430px;
  width: 100vw;
  background-color: #00a;
  color: #fff;
}

.sixth-contents {
  height: 530px;
  width: 100vw;
  background-color: #300;
  color: #fff;
}

.seventh-contents {
  height: 360px;
  width: 100vw;
  background-color: #030;
  color: #fff;
}

.footer {
  height: 350px;
  width: 100vw;
  background-color: #003;
  color: #fff;
}
