.title
  = "#{@category.name}の商品一覧"

// リンクリスト
- if @category_links.present?
  .category_wrapper
    .category_links
      - @category_links.each do |category|
        = link_to category.name, category_path(category)

-# 商品一覧表示
- if @items
  %ul.lists
    = render "top/others/items", products: @items
