.product-wrapper
  .product-header
    = render "products/pertials/product-header"
  .product-contents
    = render "products/pertials/form-edit"
  .product-footer
    = render "products/pertials/product-footer"
