.product-wrapper
  - breadcrumb :product_edit
  = render "layouts/breadcrumbs"
  .product-header
    = render "products/partials/product-header"
  .product-contents
    = render "products/partials/form-edit"
  .product-footer
    = render "products/partials/product-footer"
