-# ダミー仮置き
= link_to purchase_product_path(id:1) do
  .furima__logo--damee
    = image_tag src="material/logo/logo.png", size: "135x35"

-# .contents
-#   = render partial: "product", collection: @products


