.product-wrapper
  - breadcrumb :product_new
  = render "layouts/breadcrumbs"
  .product-header
    = render "products/partials/product-header"
  .product-contents        
    = render "products/partials/form-new"
  .product-footer
    = render "products/partials/product-footer"
