.container {
  // 全体の背景色を指定
  background-color: #f8f8f8;

  // リストスタイルを無しに指定
  ul {
    list-style: none;
  }

  // 画像全体の設定
  img {
    // 画像の幅を設定
    width: 100%;
    // 画像を下端合わせにする設定
    vertical-align: bottom;
  }

  // リンクの見た目をなしに指定
  a {
    text-decoration: none;
  }

  // メイン部分の外枠
  .content {
    padding: 40px;
    margin: 0 auto;

    // 外枠サイズ指定
    &-main {
      width: 700px;
      margin: 0 auto;

      &__top {
        // 商品詳細部分の箱設定
        &__product {
          background-color: #fff;
          padding: 24px 40px 40px;

          // 商品名の設定
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }

          // 画像用の箱全体の設定
          &__images {
            margin: 16px 0 0;
            width: 100%;
            display: flex;
            position: relative;
            
            // 画像用の箱の設定
            &__image {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              margin: 0 auto;  

              // 大きい画像のリンク設定
              &-link {
              width: 100%;
              cursor: zoom-in;
              }

              // 大きい画像の設定
              &-top {
                object-fit: cover;
                height: 346px;
                background-color: #f8f8f8;
              }

              // 小さい画像の横並び設定
              &__lists {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 10px;

                // 小さい画像のサイズ設定
                &__list {
                  width: 20%;
                  height: 87px;
                  margin-right: 10px;
                  @include centering();
                  display: flex;
                  justify-content: center;
                  background-color: #f8f8f8;
                  cursor: pointer;
      
                  // 小さい画像全体の設定
                  &-sub {
                    object-fit: contain;
                    height: 100%;
                    width: auto;
                  }
                  
                  // アクティブじゃない小さい画像の設定
                  &:not(.active) {
                    opacity: 0.4;
                  }
                }
              }
            }
          }

          // 金額等の設定
          &__price {
            // 金額表示欄の上下の空間
            margin: 24px 0 24px;
            // 金額表示を中央に
            text-align: center;
            // 金額の下の表示を横並びに
            display: flex;
            // 画像を積み重なるように配置する設定（但し横並び）
            flex-direction: column;

            // 金額の表示設定
            &__number {
              // 文字のサイズ設定
              font-size: 46px;
              // 文字を太字に
              font-weight: bold;
              // 右側に空間を指定
              margin-right: 10px;
            }

            &__detail {
              // 金額以外の文字のサイズ指定
              font-size: 16px;
            }
          }

          // 中間にある商品名の設定
          &__detail {
            line-height: 1.5;
            font-size: 18px;
            // 下の空間の指定
            margin-bottom: 30px;
          }

          // 表の箱の設定
          &__table {
            // 表の下部の空間を指定
            margin-bottom: 20px;

            // 表全体の設定
            table {
              width: 100%;
              height: 375px;
              // 隣接するボーダーを重ねて表示する設定
              border-collapse: collapse;

              // 表本体の設定
              tbody {
                display: table-row-group;
                vertical-align: middle;

                // 表の段差毎の設定
                tr {
                  display: table-row;
                  vertical-align: inherit;

                  // 表の名前部分の設定
                  th {
                    vertical-align: inherit;
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }

                  // 表の中身部分の設定
                  td {
                    vertical-align: inherit;
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;

                    // 表の中のリンクの色指定
                    a {
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }

          // 商品編集ボタン
          &__edit-btn {
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            margin: 16px 0;
            background-color: #3CCACE;
            text-align: center;
            border-radius: 5px;

            // リンク設定
            a {
              color: #fff;
              display: block;
            }
          }

          &__text-center {
            text-align: center;
            font-size: 16px;
          }

          // 商品削除ボタン
          &__delete-btn {
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            margin: 16px 0;
            background-color: #aaa;
            text-align: center;
            border-radius: 5px;

            // リンク設定
            a {
              color: #fff;
              display: block;
            }
          }

          &__sold-btn {
            width: 100%;
            line-height: 60px;
            font-size: 24px;
            color: #fff;
            margin: 20px 0;
            background-color: #aaa;
            text-align: center;
            font-weight: bold;
            border-radius: 5px;
            cursor: not-allowed;
          }

          // 購入画面に進むボタン
          &__buy-btn {
            width: 100%;
            line-height: 60px;
            font-size: 24px;
            margin: 20px 0;
            background-color: #3CCACE;
            text-align: center;
            font-weight: bold;
            border-radius: 5px;

            // リンク設定
            a {
              color: #fff;
              display: block;
            }
          }

          // 表の下の2つのボタンエリア
          &__bottom {
            display: flex;
            justify-content: space-between;

            // リスト設定
            ul {
              margin: 10px 0 0;
              display: flex;

              // マウスを重ねた時の設定
              :hover {
                opacity: 0.5;
              }
            }

            // お気に入りに追加ボタン
            &__left-btn {
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;  
              cursor: pointer;
            }

            // 通報ボタン
            &__right-btn {
              font-size: 14px;

              // リンク設定
              a {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
              }
            }
          }
        }
      }

      // 前の商品、後ろの商品のリンクボタン
      &__links {
        @include clearfix;
        margin-top: 10px;
        
        // 前の商品
        &__left {
          float: left;
        }
    
        // 後ろの商品
        &__right {
          float: right;
        }
    
        // リンク設定
        a {
          text-decoration: none;
          color: #3CCACE;
        }
      }
    }
  }
}

